Source: libspiram-chipkit
Section: libraries
Priority: extra
XBSC-Group: Storage
XBSC-Subgroup: RAM
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libspiram-chipkit
Architecture: all
Provides: SPIRAM.h
Depends: chipkit
Description: SPIRAM library for chipkit

